@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Concert+One&family=Gugi&family=Yuji+Mai&display=swap');

        body{
           background-image: linear-gradient(to left, #1B3BF2, #076DF2, #0F88F2 );
            font-family:Cambria, Cochin, Georgia, Times, serif;
            font: size 20px;;
            text-align: center;
        }
        main{
            background-color: #f0f8ff;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #142bad;
            margin: auto;
            padding: 1px;
            max-width: 900px;
        }
        h1{
            color: #000000;
            font-family: 'Bubblegum Sans', cursive;
        }
        p{
            color:#000000;
           
        }
        blockquote{
            color:#f0f8ff;
            background-color:#000000;
        }
        h2{
            color:#000000;
        }
        a{
         color:#0fb2f2ec;
        }